<!DOCTYPE html>
<html>
<head>
  <title>Jokes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main_container row">
<div class="side_bar col-md-3">
  <ul class="list-group">
    <li class="list-group-item"><%= link_to "录入笑话", new_joke_path %></li>
    <li class="list-group-item"><%= link_to "笑话列表", jokes_path %></li>
    <li class="list-group-item"><%= link_to "分类列表", categories_path %></li>
    <li class="list-group-item"><%= link_to "标签列表", tags_path %></li>
  </ul>
</div>
<div class="content col-md-9">
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
  <%= yield %>
</div>
</div>

</body>
</html>
